.header-container {
  padding: 20px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 2px 2px 4px #e6e6e6, -2px -2px 4px #ffffff;
  border: 1px solid rgb(235, 235, 235);
}
.header-container-mob {
  padding-top: 20px;
  flex-direction: column;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 2px 2px 4px #e6e6e6, -2px -2px 4px #ffffff;
  border: 1px solid rgb(235, 235, 235);
}

.header-logo {
  margin: 20px 20px;
  color: burlywood;
  font-size: 66px;
  letter-spacing: 12px;
  cursor: default;
  flex-basis: 33.33%;
}
.header-menu {
  margin: 20px 20px;
  flex-basis: 33.33%;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  &-item {
    margin-right: 20px;
    flex-grow: 1;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.2s;
    &:hover {
      opacity: 1;
    }
  }
}

.header-cart {
  margin: 20px 20px;
  display: flex;
  justify-content: flex-end;
  flex-basis: 33.33%;

  &-container {
    margin-right: 40px;
    opacity: 0.7;
    cursor: pointer;
  }
}

.cart-icons {
  margin-left: 14px;
  display: flex;
  justify-content: center;
  width: 100%;
}
