.cart-list {
  text-align: left;
  width: auto;

  &-item {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-image > img {
      width: 65px;
      height: auto;
      border-radius: 4px;
    }

    &-text {
      flex-grow: 1;
      font-size: 13px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-button {
    }
  }
}

.item-title {
  display: block;
  font-weight: bold;
  margin-left: 5px;
  flex-basis: 100px;
  margin-left: 20px;
}

.item-count {
  display: block;
  margin-right: 20px;
  margin-left: 10px;
}
.item-price {
  display: block;
  margin-right: 20px;
}
