.cart-list {
  text-align: left;
  width: 330px;

  &-item {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    &-image > img {
      width: 50px;
      height: auto;
      border-radius: 4px;
    }

    &-text {
      flex-grow: 1;
      font-size: 12px;
      display: flex;
    }

    &-button {
    }
  }
}

.item-title {
  font-weight: bold;
  margin-left: 10px;
  flex-basis: 50%;
}

.item-count {
  flex-basis: 50%;
}
.item-price {
  margin-right: 15px;
}
